@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 284px;
}

.menu a {
    color: white;
}

.entrar-cadastar a{
    color: white;
}

.container-grid {
    width: 1300px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 1300px;
    align-items: left;
}

.caixa-de-pesquisa{
    position: relative;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 100px;
}


.menu01{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.botaologin{
    position: relative;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 280px;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 10px;
    width: 90px;
    border-radius: 10px;
}

.botaocadastre-se{
    position: relative;
    width: 100px;
    height: 100px;
    top: 40px;
    left: -10px;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 10px;
    width: 170px;
    border-radius: 10px;
}

.menu01 a{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;;
    font-size: 20px;
    text-align: center;

}

.menu01 p{
    color: rgba(204, 204, 204, 1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: white;
    text-align: left;
    padding: 25px;
    height: 10px;
    width: 350px;
    border-radius: 10px;
}


.menu{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.banner {
    height: 711px;
    background-image: url(../img/stray.png);    
    background-repeat: no-repeat;
    background-position: center;
}  

.vejamais-banner {
   display: flex;
   justify-content: right ;
}
 
.vejamais-banner a{
    display: flex;
    justify-content: right ;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-decoration: none;
 }

 main{
    background-color: black;
 }

 .loja{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
 }

 .loja h1{
    display: flex;
    justify-content: center ;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-decoration: none;
 }

 .loja h2{
    display: flex;
    justify-content: center ;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
 }

 .loja p{
    display: flex;
    justify-content: center ;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
 }

 .box{
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 213px;
    width: 221px;

 }

 .produtos {
    display: flex;
    background-color: black;
    text-align: center;
    flex-direction: column;
    height: 213px;
    width: 221px;
 }

 .conteudo-loja-textos {
    height: 249px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}







.eldenring{
    height: 711px;
    background-image: url(../img/elden\ ring.png);    
    background-repeat: no-repeat;
    background-position: center;
}

.botaocompreaqui{
    position: relative;
    width: 100px;
    height: 100px;
    top: 580px;
    left: 1240px;
    text-align: center;
}

.eldenring p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
}


.logofinal{
    text-align: center;
    position: relative;
    top: 100px;
    left: 0px;
}


footer{
    background-color: black;
    width: 100%;
    height: 560px;
}

.dados{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 20px;
    width: 246px;
}

.contato{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 20px;
    width: 246px;
}


.contato1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: left;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 100px;
    width: 246px;
}

.atendimento{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 20px;
    width: 246px;
}

.atendimento1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: left;
    background-color: rgba(8, 64, 62, 0.5);
    padding: 25px;
    height: 180px;
    width: 246px;
}

.ondeestamos{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: rgba(8, 64, 62, 0.5);
    text-align: center;
    padding: 25px;
    width: 246px;
    height: 20px;
}

.redessociais{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: rgba(8, 64, 62, 0.5);
   text-align: center;
    padding: 25px;
    height: 20px;
    width: 246px;
}
.footer{
    position: relative;
    width: 100px;
    height: 100px;
    top: 180px;
    left: 0px;
}

.coluna1 {

    position: relative;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 20px;
}
.coluna1-1 {

    position: relative;
    width: 100px;
    height: 100px;
    top: 5px;
    left: 20px;
}

.coluna1-2 {

    position: relative;
    width: 100px;
    height: 100px;
    top: -30px;
    left: 20px;
}

.coluna1-3 {

    position: relative;
    width: 100px;
    height: 100px;
    top: -60px;
    left: 20px;
}
.coluna2 {

        position: relative;
        width: 100px;
        height: 100px;
        top: -360px;
        left: 285px;
}

.coluna2-1 {

    position: relative;
    width: 100px;
    height: 100px;
    top: -395px;
    left: 285px;
}

.coluna3{

    position: relative;
    width: 100px;
    height: 100px;
    top: -560px;
    left: 550px;
}

.coluna3-1 {

    position: relative;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 0px;
}

.coluna4 {

    position: relative;
    width: 100px;
    height: 100px;
    top: -150px;
    left: 260px;

}
.mapa{
    position: relative;
    width: 100px;
    height: 100px;
    top: -185px;
    left: 264px;
}

.coluna5 {

    position: relative;
    width: 100px;
    height: 100px;
    top: -350px;
    left: 520px;
}

.redessociais2 {
    position: relative;
    width: 100px;
    height: 100px;
    top: -360px;
    left: 560px;
}

.redessociais3 {
    position: relative;
    width: 100px;
    height: 100px;
    top: -460px;
    left: 640px;
}





.fundo{
    background-color: black;
}

.diagramacao{
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
}